.btnText {
  font-size: 4vw;
  position: absolute;
  right: 11vw;
  bottom: 5vw;
}
.nextBtn {
  z-index: 20;
  position: absolute;
  right: 4vw;
  bottom: 2vw;
  width: 5vw;
  height: auto;
}
.backBtn {
  z-index: 20;
  position: absolute;
  left: 4vw;
  bottom: 2vw;
  width: 5vw;
  height: auto;
}
