#h1 {
  font-size: 80px;
  font-family: "OmniGothic";
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25vh;
  margin-bottom: 25vh;
}

@media (max-width: 800px) {
  #h1 {
    font-size: 40px;
  }
}

/*id=10*/
.bg10real {
  z-index: -5;
  position: fixed;
  max-width: 100vw;
  max-height: auto;
  overflow-y: hidden;
  right: 50%;
  transform: translate(50%, 0);
}

#ch10real {
  z-index: -3;
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
  animation-name: move10;
  /*마지막 위치에 멈춤*/
  -webkit-animation-fill-mode: both;
  animation-duration: 5s;
}
@keyframes move10 {
  from {
    left: 50%;
    top: 65%;
  }
  to {
    left: 36%;
    top: 53%;
  }
}

/*id=11*/
#ch11 {
  z-index: -3;
  position: fixed;
  left: 36%;
  top: 53%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
}
#seed11 {
  z-index: -4;
  max-width: 7vw;
  max-height: auto;
  position: fixed;
  left: 40%;
  top: 65%;
  transform: translate(-50%, 0);
  animation-name: seedMove11;
  /*마지막 위치에 멈춤*/
  -webkit-animation-fill-mode: both;
  animation-duration: 8s;
}
@keyframes seedMove11 {
  0% {
    left: 40%;
    top: 65%;
  }
  10% {
    left: 40%;
    top: 65%;
  }
  25% {
    left: 45%;
    top: 62%;
  }
  50% {
    left: 45;
    top: 57%;
  }
  75% {
    left: 40%;
    top: 60%;
  }
  100% {
    left: 36%;
    top: 62%;
  }
}

/*id=12*/
#nextfloor2 {
  z-index: 9;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  animation-delay: 10s;
  animation: nextfloor 3s;
}
#nextfloorT2 {
  font-family: "OmniGothic";
  z-index: 10;
  font-size: 100px;
  font-weight: 20px;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes nextfloor {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bg12 {
  z-index: -5;
  position: fixed;
  max-width: 100vw;
  max-height: auto;
  overflow-y: hidden;
  right: 50%;
  transform: translate(50%, 0);
}
.ch12 {
  z-index: -3;
  position: fixed;
  left: 42%;
  top: 41%;
  transform: translate(-50%, 0);
  max-width: 20vh;
  height: auto;
  animation-name: move12;
  /*마지막 위치에 멈춤*/
  -webkit-animation-fill-mode: both;
  animation-duration: 8s;
}
@keyframes move12 {
  from {
    left: 42%;
    top: 41%;
  }
  to {
    left: 48%;
    top: 48%;
  }
}
.seed12 {
  z-index: -4;
  max-width: 7vw;
  max-height: auto;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, 0);
}
.text12 {
  font-family: "OmniGothic";
  position: fixed;
  bottom: 0vw;
  right: 0vw;
  width: 50vw;
  height: 100vh;
  background-color: #fff0e9;
}

.ch12_2 {
  z-index: -3;
  position: fixed;
  left: 48%;
  top: 48%;
  transform: translate(-50%, 0);
  max-width: 20vh;
  height: auto;
}
