#nextfloor1 {
  z-index: 9;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  animation: nextfloor 3s;
}
#nextfloorT1 {
  font-family: "OmniGothic";
  z-index: 10;
  font-size: 100px;
  font-weight: 20px;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes nextfloor {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
