#h1 {
  font-size: 80px;
  font-family: "OmniGothic";
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25vh;
  margin-bottom: 25vh;
}

@media (max-width: 800px) {
  #h1 {
    font-size: 40px;
  }
}

/*id=2*/
.bg2 {
  z-index: -5;
  position: fixed;
  left: 50%;
  max-width: 100vw;
  transform: translate(-50%, 0);
}
.ch2 {
  z-index: -2;
  position: fixed;
  left: 30%;
  top: 50%;
  transform: translate(-50%, 0);
  max-width: 23vh;
  height: auto;
  /*좌우반전*/
  transform: scaleX(-1);
}
#CAPHECOZI2 {
  /* CAPHE COZY */
  position: fixed;
  left: 15%;
  top: 25%;

  font-family: "OmniGothic";
  font-style: bold;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  transform: rotate(-29.99deg);
}
#intro2 {
  z-index: -1;
  position: fixed;
  top: 5vw;
  bottom: 5vw;
  right: 10vw;
  width: auto;
  height: 70vh;
}
#textIn2 {
  font-family: "OmniGothic";
  position: fixed;
  top: 6vw;
  bottom: 5vw;
  right: 7vw;
  width: 20vw;
  height: 70vh;
}
#textIn2 p {
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
}

/*id=3*/
#smoo3 {
  z-index: -1;
  position: absolute;
  left: 30%;
  top: 59%;
  transform: translate(-50%, 0);
  max-width: 15vh;
  height: auto;
}
#invi3 {
  z-index: -1;
  position: fixed;
  left: 43%;
  top: 53%;
  transform: translate(-50%, 0);
  max-width: 10vh;
  height: auto;
}

/*id=4*/
#smoo4 {
  z-index: -1;
  position: fixed;
  left: 30%;
  top: 35%;
  transform: translate(-50%, 0);
  max-width: 40vh;
  height: auto;
}
#invi4 {
  z-index: -1;
  position: fixed;
  right: 30%;
  top: 35%;
  transform: translate(50%, 0);
  max-width: 50vh;
  height: auto;
}

/*id=5*/
#invi5 {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  max-width: 120vh;
  height: auto;
}
#textIn5 {
  font-size: 2.5vh;
  text-align: center;
  font-family: "OmniGothic";
  position: absolute;
  top: 38%;
  right: 50%;
  transform: translate(50%, 0);

  width: 93vh;
  height: auto;
}

/*id=6*/
#shown6 {
  position: fixed;
  overflow: hidden;
  border: 3px solid blue;
  width: 80vw;
  height: 90vh;
  right: 50%;
  transform: translate(50%, 0);
}
#all {
  width: auto;
  height: 90vh;
}

/*id=7*/
.bg7 {
  z-index: -5;
  position: fixed;
  max-width: 100vw;
  max-height: auto;
  right: 50%;
  transform: translate(50%, 0);
}
.gsbC7 {
  z-index: -3;
  position: fixed;
  left: 40%;
  top: 60%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
}
.isnC7 {
  z-index: -3;
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
}
.zgC7 {
  z-index: -3;
  position: fixed;
  left: 60%;
  top: 60%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
}
.ch7 {
  z-index: -3;
  position: fixed;
  left: 20%;
  top: 57%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
}
/*id=8*/
#bg8 {
  z-index: -5;
  position: fixed;
  max-width: 100vw;
  height: auto;
  right: 50%;
  transform: translate(50%, 0);
}
#gsb8 {
  z-index: -2;
  position: fixed;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40vh;
  height: auto;
}
#isn8 {
  z-index: -2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40vh;
  height: auto;
}
#zg8 {
  z-index: -2;
  position: fixed;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40vh;
  height: auto;
}

/*id=9*/
#ch9 {
  z-index: -3;
  position: fixed;
  left: 25%;
  top: 60%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
  animation-name: move9;
  /*마지막 위치에 멈춤*/
  -webkit-animation-fill-mode: both;
  animation-duration: 9s;
}
@keyframes move9 {
  from {
    left: 25%;
    top: 60%;
  }
  to {
    left: 50%;
    top: 65%;
  }
}

/*id=10*/
#bg10 {
  z-index: -5;
  position: fixed;
  max-width: 100vw;
  max-height: auto;
  right: 50%;
  transform: translate(50%, 0);
}
#ch10 {
  z-index: -3;
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, 0);
  max-width: 30vh;
  height: auto;
  animation-name: move10;
  /*마지막 위치에 멈춤*/
  -webkit-animation-fill-mode: both;
  animation-duration: 9s;
}
@keyframes move10 {
  from {
    left: 50%;
    top: 65%;
  }
  to {
    left: 50%;
    top: 65%;
  }
}
