.nextfloor{font-size: 100px; font-weight: 20px; position:absolute;
    margin: auto;  top: 50%; left: 50%; transform: translate(-50%,-50%)
}

.backthird{ position: fixed; height: 120%; left: 25%;

}

#ani3{ position: absolute; height: 30%;
    animation-name: ani3;
    animation-duration: 7s;
}
#text3{ position:absolute; height: 60%; width: 100%;
    background-color: azure;
    animation-name: text3;
    animation-duration: 7s;
}
@keyframes ani3{
    0%     {left:33%; top: 30%}
    50%    {left: 45%; top: 33%}
    100%   {left:60%; top: 30%}
}
@keyframes text3{
    0%     { opacity: 0;}
    90%    { opacity: 0;}
    100%   { opacity: 1}
}
.behindT{ 
    margin: auto; position:absolute; 
    top: 10%; left: 10%;
    text-align: center;
}

.behindR{
    position: absolute;
    width: 30%; height: 80%; right: 0%; top: 10%;
    margin-right: 10%;
}

.behindL{
    position: absolute;
    width: 40% ; padding-left: 5% 10%; top: 20%;
    margin-left: 10%;
}

.behindC{
    position: absolute;
    left: 25%; bottom: 10%;
    width: 20%
}

.behindSB{
    position: absolute;
    right: 25%; bottom: 10%;
    width: 25%
}