#h1 {
  font-size: 80px;
  font-family: "OmniGothic";
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25vh;
  margin-bottom: 25vh;
}

@media (max-width: 800px) {
  #h1 {
    font-size: 40px;
  }
}

.keyplan {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 5%;
  z-index: 4;
}
