#nextfloor2 {
  z-index: 9;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  animation: 3s nextfloor;
}
#nextfloorT2 {
  font-family: "OmniGothic";
  z-index: 10;
  font-size: 100px;
  font-weight: 20px;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes nextfloor {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#bg7 {
  z-index: -8;
  position: absolute;
  width: 100%;
  height: 100%;
}
#ch7 {
  z-index: -2;
  position: absolute;
  left: 32%;
  top: 27.5%;
  height: 30%;
  animation: 3s moveCh7 2s;
  -webkit-animation-fill-mode: both;
}
@keyframes moveCh7 {
  to {
    left: 40%;
    top: 35%;
  }
}
#seed7 {
  z-index: -2;
  position: absolute;
  left: 45.5%;
  top: 49%;
  width: 10%;
}
