#bg11 {
  z-index: -8;
  position: absolute;
  width: 100%;
  height: 100%;
}
#ch11 {
  z-index: -2;
  position: absolute;
  left: 61%;
  top: 33%;
  height: 28%;
  transform: scaleX(-1);
  animation: 5s moveCh11 5s; /*name delay*/
  -webkit-animation-fill-mode: both;
}
@keyframes moveCh11 {
  0% {
    left: 61%;
    top: 33%;
  }
  33% {
    left: 55%;
    top: 13%;
    transform: scaleX(-1);
  }
  66% {
    left: 43%;
    top: 4%;
    transform: scaleX(-1);
  }
  100% {
    left: 30%;
    top: 16%;
    transform: scaleX(-1);
  }
}
#seed11 {
  z-index: -2;
  position: absolute;
  left: 27%;
  top: 30%;
  width: 10%;
}
