  #all {
    z-index: -10;
    position:absolute;
    scale:3; 
    width: 100%;
    height: 100%;
    transform-origin: 30% 100%;   
    animation: moveBg4 8s;
    -webkit-animation-fill-mode: both;
    animation-delay: 2s;
  }
  @keyframes moveBg4 {
    from {
        transform-origin: 30% 100%;
    }
    to {
        transform-origin: 73.6% 80%;
    }
  }
  .ch4{
    z-index: -2;
    position: absolute;
    left: 45%;
    top: 36%;
    height: 30%;

    animation: moveCh4 8s;
    -webkit-animation-fill-mode: both;
    animation-delay: 2s;
  }
  @keyframes moveCh4 {
    to {
        left:10%;
        top:32%;
    }
  }

  .gsbC4 {
    z-index: -3;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, 0);
    max-width: 30vh;
    height: auto;
  }
  .isnC4 {
    z-index: -3;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
    max-width: 30vh;
    height: auto;
  }
  .zgC4 {
    z-index: -3;
    position: absolute;
    left: 60%;
    top: 40%;
    transform: translate(-50%, 0);
    max-width: 30vh;
    height: auto;
  }