/*공통*/

.nextfloor{ z-index: 9; opacity:0;
    position: absolute; width: 60%; height: 100%; background-color: rgb(255, 255, 255); left:20%;
    animation-name:nextfloor;
    animation-duration:3s;
}

.nextfloorT{ z-index: 10;
    font-size:  100px; font-weight: 20px;
    position: fixed; margin:auto; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

@keyframes nextfloor{
    0% {opacity:1}
    80% {opacity:1}
    100% {opacity:0}
}

.keyplan { position: fixed; right: 5%; top: 5%; width: 5%}


/* 3층*/
.backthird{ z-index: 5;position: fixed; height: 120%; left: 25%;}

#ani3 { z-index: 6;position: absolute; height: 30%; 
    animation-name: ani3; animation-duration: 9s;}

#text3{ z-index: 7;
    position:absolute; height: 70%; width: 100%; 
    background-color: azure;
    animation-name: text3;
    animation-duration: 9s;
}

#text3-bear{ z-index: 8; position: absolute; width:70%; margin:5%; left:30%}
#text3-play{ z-index: 8; position:absolute; width: 70%; top: 25%; margin: 5%; left:30%}
#text3-al{ z-index: 8; position:absolute; width: 70%; top: 50%; margin: 5%; left:30%}


@keyframes ani3{
    0%  {left:33%; top:30%}
    50%  {left:33%; top: 30%}   
    70%    {left: 45%; top: 33%}
    90%   {left:60%; top: 30%}
    100% {left:60%; top: 30%}
}

@keyframes text3{
    0%     { opacity: 0;}
    90%    { opacity: 0;}
    100%   { opacity: 1}
}

#nextbuttonclose1{background-color: white; height:20%; width: 20%; 
    position: fixed;  z-index: 12; opacity:0;
animation: buttonclose1 9s}

@keyframes buttonclose1
{ 0% {right:0%; bottom: 0%;opacity:1} 100%{right:0%; bottom: 0%;opacity:1}}

/*id2*/

.id2chr{left:60%; top: 30%;z-index: 6;position: absolute;  height: 30%;
}

#ani4{ z-index: 10;  position:absolute; height: 10%; animation: ani4 2s;}

@keyframes ani4{
    0% {left:65%; top: 40%}
    50% {left: 65%; top: 35%}
    100% {left: 60%; top: 40%}
}

#nextbuttonclose2{background-color: white; height:20%; width: 20%; 
    position: fixed;  z-index: 12;
animation: buttonclose2 2s}

@keyframes buttonclose2
{ 0% {right:0%; bottom: 0%} 100%{right:0%; bottom: 0%}}


/*비하인드*/
.interview_B{}
.interview_B:hover{ }


.behindT{ 
    margin: auto; position:absolute; 
    top: 10%; left: 10%;
    text-align: center;
}

.behindR{
    position: absolute;
    width: 30%; height: 80%; right: 0%; top: 10%;
    margin-right: 10%;
}

.behindL{
    position: absolute;
    width: 40% ; padding-left: 5% 10%; top: 20%;
    margin-left: 10%;
}

.behindCmain{
    position: absolute;
    left: 20%; bottom: 5%;
    width: 50%;
    animation: moving 3s 
}

.behindC{
    position: absolute;
    right: 5%; bottom: 3%;
    width: 55%;
    
}

@keyframes moving{
    from {left:0%} to {left: 20%}
}

.behindsugar{animation: sugaring 3s}

@keyframes sugaring { from {opacity:0} to {opacity:0}}

/*goup*/
.goup{ background-image: url(./img/B5L.jpg) ;background-size: auto; 
    animation:backthird 5s; opacity:0}
@goup {0%{opacity:1} 48%{opacity:1}}

#goupS{ position:absolute; z-index: 8;width:100%; height: 100%;}

#goupP{position:absolute; z-index: 8;width:100%; height: 100%;}

#goupA{ position:absolute;z-index: 8;width:100%; height: 100%;}

#goupB{ position:fixed; width:80%; height:100%;  z-index: 7;animation: goupB 5s; opacity:1}
@goupB{ 50%{opacity:0} 90% {opacity:1}}

/*id7*/
#lastseed{}

#character_sow{ animation:sow 10s}
@sow{}

#sowing{ animation: sowing 10s}
@sowing{}

#watering{ animation: watering 10s}
@watering{}

#b5lS{}
#b5lP{}
#b5lA{}
#b5lC{}

#seed1{}
#seed2{}
#seed3{}
#seed4{}

#b5lS1{}
#b5lP1{}
#b5lA1{}
#b5lC1{}
#water{}
#waterb{}

/*마지막말*/
#lastS{}
#lastP{}
#lastA{}
#lastC{}

#waterb_S{}
#waterb_P{}
#waterb_A{}

/*마지막모션*/
#treefull{
}
#flowerfull{}
#inv{}

/*마지막초대장*/
#invF{}
#invB{}
#lllast{}

