/*공통*/

.nextfloor {
  z-index: 9;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: nextfloor 3s;
  background-color: white;
}

@keyframes nextfloor {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#next_back{
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.3;
}


.nextfloorT {
  z-index: 10;
  font-size: 80px;
  font-weight: 550;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%
}

.keyplan {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 5%;
  z-index: 7;
}

/* id1*/


.backthird {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
}

#ani3 {
  z-index: 6;
  position: absolute;
  height: 28%;
  opacity: 1;
  left: 25%;
  top: 50%;
  animation-name: ani3;
  animation-duration: 6s;
  animation-delay: 3s;
}
#씨앗4층 {
  z-index: 6;
  position: absolute;
  width: 10%;
  left: 64%;
  top: 62%;
}

#text3 {
  z-index: 7;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff0e9;
  animation: text3 8.5s;
}
#text3-Bear{
  z-index:8;
 position: absolute;
 left: 35%;
 margin:5%;
 font-size: 1.2em;
 font-weight: 500;
 color: orange;}

#text3-bear {
  z-index: 8;
  position: absolute;
  width: 40%;
  margin: 5%;
  left: 35%;
}
#text3-Play{
  z-index:8;
 position: absolute;
 left: 35%;
 margin:5%;
 top:27%;
 font-size: 1.2em;
 font-weight: 500;
 color: green;
}

#text3-play {
  z-index: 8;
  position: absolute;
  width: 40%;
  top: 27%;
  margin: 5%;
  left: 35%;
}
#text3-Al{
  z-index:8;
  position: absolute;
  left: 35%;
  margin:5%;
  top:54%;
  font-size: 1.2em;
  font-weight: 500;
  color: blue;
}
#text3-al {
  z-index: 8;
  position: absolute;
  width: 40%;
  top: 54%;
  margin: 5%;
  left: 35%;
}
#img3-bear {
  position: absolute;
  width: 14%;
  left: 20%;
  top: 7%;
}
#img3-play {
  position: absolute;
  width: 14%;
  left: 20%;
  top: 34%;
}
#img3-al {
  position: absolute;
  width: 14%;
  left: 20%;
  top: 61%;
}

@keyframes ani3 {
  0% {
    opacity: 1;
    left: 25%;
    top: 50%;
  }
  30% {
    opacity: 1;
    left: 25%;
    top: 50%;
  }
  60% {
    opacity: 1;
    left: 42%;
    top: 58%;
  }
  80% {
    opacity: 1;
    left: 55%;
    top: 54%;
  }
  100% {
    opacity: 1;
    left: 55%;
    top: 54%;
  }
}

@keyframes text3 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
}


/*id2*/

.id2chr {
  left: 55%;
  top: 52%;
  z-index: 6;
  position: absolute;
  height: 30%;
}

#ani4 {
  z-index: 12;
  position: absolute;
  width: 10%;
  text-align: center;
  animation: ani4 2.5s;
  opacity: 0;
}
#ani4-1 {
  z-index: 12;
  position: absolute;
  animation: ani4-1 2.5s;
  opacity: 0;
}

@keyframes ani4-1 {
  0% {
    left: 67%;
    top: 60%;
    opacity: 1;
  }
  50% {
    left: 66%;
    top: 56%;
    opacity: 1;
  }
  100% {
    left: 61%;
    top: 50%;
    opacity: 1;
  }
  
}
@keyframes ani4 {
  0% {
    left: 64%;
    top: 62%;
    opacity: 1;
  }
  50% {
    left: 63%;
    top: 58%;
    opacity: 1;
  }
  100% {
    left: 59%;
    top: 60%;
    opacity: 1;
  }
}


/*id3*/
.behindfloor {
  animation: sugaring 5s;
}

@keyframes sugaring {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}


.interview_B {
}
.interview_B:hover {
}

.behindT_S {
  margin: auto;
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 10%;
  text-align: center;
  color:orange;
  font-size: 1.3em;
}
.behindT_P {
  margin: auto;
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 10%;
  text-align: center;
  color:green;
  font-size: 1.3em;
}
.behindT_A {
  margin: auto;
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 10%;
  text-align: center;
  color:blue;
  font-size: 1.3em;
}
.behindR {
  position: absolute;
  z-index: 9;
  width: 35%;
  height: 80%;
  right: 10%;
  top: 10%;
}

.behindL_back {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: #fff0e9;
}

.behindL {
  position: absolute;
  z-index: 9;
  width: 40%;
  top: 18%;
  padding-right: 5%;
  margin-left: 10%;
  text-align: justify;
}

#behindfloor_b {
  position: absolute;
  width: 100%;
  height: 100%;
}
#b_m {
  position: absolute;
  width: 10%;
  top: 47%;
  left: 27%;
}
#b_s {
  position: absolute;
  width: 10%;
  top: 43%;
  left: 32%;
}
#b_p {
  position: absolute;
  width: 10%;
  top: 39%;
  left: 38%;
}
#b_a {
  position: absolute;
  width: 10%;
  top: 34%;
  left: 43%;
}

/*id6*/



.goup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  animation: goup 6s;
}
@keyframes goup {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}

#goupM {
  position: absolute;
  width: 10%;
  top: 25%;
  right: 28%;
  z-index: 2;
  opacity: 0;
  animation: goupM 6s;
}
@keyframes goupM {
  0% {
    right: 33%;
    top: 40%;
    opacity: 1;
  }
  10% {
    right: 33%;
    top: 40%;
  }
  60% {
    right: 30%;
    top: 30%;
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
#goupM_1 {
  position: absolute;
  width: 6%;
  top: 25%;
  right: 28%;
  z-index: 2;
  animation: M_1 6s;
}
@keyframes M_1 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    top: 25%;
    right: 28%;
  }
}

#goupS {
  position: absolute;
  width: 10%;
  top: 18%;
  right: 37%;
  z-index: 2;
  opacity: 0;
  animation: goupS 6s;
}
@keyframes goupS {
  0% {
    right: 36%;
    top: 50%;
    opacity: 1;
  }
  10% {
    right: 36%;
    top: 50%;
  }
  60% {
    right: 33%;
    top: 40%;
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
#goupS_1 {
  position: absolute;
  width: 8%;
  top: 18%;
  right: 37%;
  z-index: 2;
  animation: S_1 6s;
}
@keyframes S_1 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    top: 18%;
    right: 37%;
  }
}

#goupP {
  position: absolute;
  width: 10%;
  top: 18%;
  right: 53%;
  z-index: 2;
  animation: goupP 6s;
}
@keyframes goupP {
  0% {
    right: 39%;
    top: 60%;
  }
  10% {
    right: 39%;
    top: 60%;
  }
  60% {
    right: 36%;
    top: 50%;
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    top: 18%;
    right: 53%;
  }
}

#goupA {
  position: absolute;
  width: 10%;
  top: 24%;
  right: 61%;
  z-index: 2;
  animation: goupA 6s;
}
@keyframes goupA {
  0% {
    right: 42%;
    top: 65%;
  }
  10% {
    right: 42%;
    top: 65%;
  }
  60% {
    right: 39%;
    top: 60%;
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    top: 24%;
    right: 61%;
  }
}

#goupB {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: goupB 6s;
  opacity: 1;
}
@keyframes goupB {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/*id7*/
.backid7 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.treesow {
  position: absolute;
  width: 9%;
  right: 46%;
  top: 2%;
}

#character_sow {
  animation: sow 10s;
  opacity: 0;
}
@keyframes sow {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
}

#sowing {
  animation: sowing 10s;
  opacity: 0;
}
@keyframes sowing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
}

.lastseed {
  position: absolute;
  width: 6%;
  top: 18%;
  right: 40%;
  opacity: 0;
  animation: ls 10s;
}
@keyframes ls {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

#watering {
  animation: watering 10s;
  opacity: 1;
}
@keyframes watering {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
}

.b5lS {
  position: absolute;
  width: 8%;
  top: 25%;
  right: 28%;
}
.b5lP {
  position: absolute;
  width: 11%;
  top: 18%;
  right: 53%;
}
.b5lA {
  position: absolute;
  width: 11%;
  top: 25%;
  right: 61%;
}
.b5lC {
  position: absolute;
  width: 6%;
  top: 18%;
  right: 37%;
}

#seed1 {
  position: absolute;
  width: 5%;
  top: 21%;
  right: 41.5%;
}
#seed2 {
  position: absolute;
  width: 5%;
  top: 15%;
  right: 44%;
}
#seed3 {
  position: absolute;
  width: 5%;
  top: 12%;
  right: 46.5%;
}
#seed4 {
  position: absolute;
  width: 5%;
  top: 14%;
  right: 50%;
}

#seed_1 {
  position: absolute;
  top: 19.5%;
  right: 42.3%;
  background-color: white;
  text-align: center;
  font-size: 7px;
  font-weight: bold;
}
#seed_2 {
  position: absolute;
  top: 15%;
  right: 44.7%;
  background-color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
#seed_3 {
  position: absolute;
  top: 12%;
  right: 47.5%;
  background-color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
#seed_4 {
  position: absolute;
  top: 14%;
  right: 51%;
  background-color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#b5lS1 {
  position: absolute;
  width: 7%;
  top: 18%;
  right: 37%;
}
#b5lP1 {
  position: absolute;
  width: 11%;
  top: 18%;
  right: 53%;
}
#b5lA1 {
  position: absolute;
  width: 11%;
  top: 25%;
  right: 61%;
}
#b5lC1 {
  position: absolute;
  width: 6%;
  top: 25%;
  right: 29%;
}
#water {
  position: absolute;
  width: 5%;
}
#waterb {
  position: absolute;
  width: 8%;
  top: 20%;
  right: 40%;
  transform: rotate(30deg);
}

/*마지막말*/
.id8text {
  opacity: 0.4;
}

.lasttext {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
  background-color: #fff0e9;
  text-align: center;
}

#goodbyesugar{font-size: 1.5em;text-align: center; color:orange;}
#goodbyeplay{font-size: 1.5em;text-align: center; color:green;}
#goodbyealchol{font-size: 1.5em;text-align: center; color:blue;}

/*마지막모션*/

#treefull1 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: treefull1 5s;
  opacity: 0;
}
#treefull2 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: treefull2 5s;
  opacity: 1;
}
#treefull3 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: treefull3 5s;
  opacity: 1;
}

@keyframes treefull1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
}
@keyframes treefull2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opactiy: 0;
  }
}
@keyframes treefull3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
}

#inv {
  position: absolute;
  width: 80%;
  left: 10%;
  animation: inv 5s;
  opacity: 1;
}
@keyframes inv {
  0% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

/*마지막초대장*/
#invF {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 25%;
  opacity: 0;
  animation: invF 2.5s;
}
@keyframes invF {
  from {
    transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  to {
    transform: rotateY(90deg) rotateX(0deg);
    opacity: 1;
  }
}
#invB {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 25%;
  animation: showinv 5s;
}
@keyframes showinv {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    transform: rotateY(90deg) rotateX(0deg);
  }
  to {
    transform: rotateY(180deg) rotateX(0deg);
  }
}

#초대장마지막 {
  position: absolute;
  width: 100%;
  height: 100%;
}
#lllast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0%;
  color: white;
  text-align: center;
  width: 65%;
  font-size: 1.3em;
}

/**/
#ending{
  position:fixed;
  width:100%;
  height:100%;
}
#close {
  position: absolute;
  background-color: white;
  width: 20%;
  height: 20%;
  right: 0%;
  bottom: 0%;
}

#teamname{
  position:absolute;
  text-align: center;
  top:10%;
  font-size: 2em;
  left: 50%;
  transform: translate(-50%, 0%);
}
#link_cozy{
  position:absolute;
  width: 10%;
  left: 12%;
  top: 40%;
}
#link_sugar{
  position:absolute;
  border-radius: 50%;
  width:10%;
  left:34%;
  top: 40%;
}
#link_play{
  position:absolute;
  border-radius: 50%;
  width:15%;
  left: 56%;
  top: 40%;
}
#link_alchol{
  position:absolute;
  border-radius: 50%;
  width:10%;
  left: 78%;
  top: 40%;
}

#source{
  position:absolute;
  text-align: center;
  bottom: 5%; left: 10%;
}