/*공통*/

.nextfloor{ z-index: 9; opacity:0;
    position: absolute; width: 100%; height: 100%; 
    background-color: rgb(255, 255, 255);
    animation: nextfloor 3s;
}
.nextbuttonclose{background-color: white; height:20%; width: 20%; 
    position: absolute;  z-index: 40; opacity:0;
animation: buttonclose 3s;
}

@keyframes buttonclose
{0% {right:0%; bottom: 0%;opacity:1} 100%{right:0%; bottom: 0%;opacity:1}}

.nextfloorT{ z-index: 10;
    font-size:  100px; font-weight: 20px;
    position: fixed; margin:auto; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

@keyframes nextfloor{
    0% {opacity:1}
    80% {opacity:1}
    100% {opacity:0}
}

.keyplan { position: fixed; right: 5%; top: 5%; width: 5%}


/* id1*/
.backthird{ z-index: 5;position: absolute; height: 100%; left: 0%;}

#ani3 { z-index: 6;position: absolute; height: 30%; opacity:0;
    animation-name: ani3; animation-duration: 6s; animation-delay:3s
}
#씨앗4층{z-index:6; position:absolute; width:10%; left:64%; top:62%;}

#text3{ z-index: 7;
    position:absolute; height: 70%; width: 100%; 
    background-color: #fff0e9;
    animation: text3 9s; 
}

#text3-bear{ z-index: 8; position: absolute; width:70%; margin:5%; left:30%}
#text3-play{ z-index: 8; position:absolute; width: 70%; top: 25%; margin: 5%; left:30%}
#text3-al{ z-index: 8; position:absolute; width: 70%; top: 50%; margin: 5%; left:30%}
#img3-bear{position:absolute;width: 15%; left:10%; margin: 20px; margin: top 0;}
#img3-play{position:absolute;width: 15%; left:10%;top:25%; margin: 20px}
#img3-al{position:absolute;width:15%; left:10%;top:50%;margin: 20px}

@keyframes ani3{
    0%  {opacity:1;   left:25%; top:50%}
    30%  {opacity:1;  left:25%; top: 50%}   
    60%    {opacity:1;left:40%; top: 55%}
    90%   {opacity:1; left:55%; top: 52%}
    100% {opacity:1;  left:55%; top: 52%}
}

@keyframes text3{
    0%     { opacity: 0;}
    90%    { opacity: 0;}
    100%   { opacity: 1}
}

#nextbuttonclose1{background-color: #BADEE0; height:20%; width: 20%; 
    position: absolute;  z-index: 30; opacity:0;
animation: buttonclose1 7s; animation-delay: 3s}

@keyframes buttonclose1
{ 0% {right:0%; bottom: 0%;opacity:1} 100%{right:0%; bottom: 0%;opacity:1}}

/*id2*/

.id2chr{left:55%; top: 52%;z-index: 6;position: absolute;  height: 30%;
}

#ani4{ z-index: 12;position:absolute; width: 10%; animation: ani4 3s;opacity:0}

@keyframes ani4{
    0% {left:64%; top:62%; opacity:1}
    50% {left: 63%; top: 58%; opacity:1}
    100% {left: 59%; top: 60%; opacity:1}
}

#nextbuttonclose2{background-color: #B8DDDE; height:20%; width: 20%; 
    position: fixed;  z-index: 40; opacity:0;
animation: buttonclose2 3s}

@keyframes buttonclose2
{ 0% {right:0%; bottom: 0%; opacity:1} 100%{right:0%; bottom: 0%; opacity:1}}


/*id3*/
.behindsugar{animation: sugaring 3s}

@keyframes sugaring { from {opacity:0} to {opacity:0}}

.interview_B{}
.interview_B:hover{ }


.behindT{ 
    margin: auto; position:absolute; 
    top: 10%; left: 10%;
    text-align: center;
}

.behindR{
    position: absolute;
    width: 30%; height: 80%; right: 0%; top: 10%;
    margin-right: 10%;
}

.behindL{
    position: absolute;
    width: 40% ; padding-left: 5% 10%; top: 20%;
    margin-left: 10%;
}

.behindCmain{
    position: absolute;
    left: 20%; bottom: 5%;
    width: 50%;
    animation: moving 3s 
}

@keyframes moving{
    from {left:0%} to {left: 20%}
}

.behindC{
    position: absolute;
    right: 5%; bottom: 3%;
    width: 55%;
    
}





/*id6*/
.goup{ background-image: url(img/B5L.jpg) ;background-size:cover;
    opacity:0; animation:goup 5s
}
@keyframes goup{0%{opacity:1} 80%{opacity:1}}

#goupS{ position:absolute; width:50%; height: 100%;left:10%}

#goupP{position:absolute;width:50%; height: 100%; left: 20%}

#goupA{ position:absolute;width:50%; height: 100%;left:30%}

#goupB{ position:fixed; width:80%; height:100%;animation: goupB 5s; opacity:1}
@keyframes goupB{ 0%{opacity:0} 50%{opacity:0} 90% {opacity:1}}

/*id7*/
#backid7{ background-image: url(img/B5L.jpg); background-size: cover;}
#lastseed{position: fixed; width: 10%;}

#character_sow{ animation:sow 10s; opacity:0}
@keyframes sow{0%{opacity:1} 30%{opacity:1}}

#sowing{ animation: sowing 10s; opacity:0}
@keyframes sowing{30%{opacity:0} 35%{opacity:1} 65%{opacity:1} }

#watering{ animation: watering 10s; opacity:1}
@keyframes watering{ 65%{opacity:0}}

#b5lS{position:fixed; width: 10%; left:5%;}
#b5lP{position:fixed;width: 10%; left:15%;}
#b5lA{position:fixed;width: 10%; left:20%;}
#b5lC{position:fixed;width: 10%; right: 15%;}

#seed1{position:fixed;width: 5%;right: 15%; top:10%;}
#seed2{position:fixed;width: 5%; right: 18%; top: 13%;}
#seed3{position:fixed;width: 5%; right: 22%; top: 17%;}
#seed4{position:fixed;width: 5%; right: 26%; top: 22%}

#b5lS1{position:fixed;width: 10%;left: 10%;}
#b5lP1{position:fixed;width: 10%; left: 15%;}
#b5lA1{position:fixed;width: 10%; right: 15%;}
#b5lC1{position:fixed;width: 10%; right: 10%;}
#water{position:fixed;width: 5%;}
#waterb{position:fixed;width: 5%;}

/*마지막말*/
#lastS{}
#lastP{}
#lastA{}
#lastC{}

#waterb_S{}
#waterb_P{}
#waterb_A{}

/*마지막모션*/
#treefull{
}
#flowerfull{}
#inv{}

/*마지막초대장*/
#invF{}
#invB{}
#lllast{}

